<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/scss/app.css">
    
    <title>Cherif Immob</title>
</head>
<body>
    <section id="home">
        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
                <div class="container">
                    <span class="navbar-brand">
                        Cherif Immob
                    </span>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="#home">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="#deals">Catalogue</a></li>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="">Connection</a></li>
                            <li class="nav-item"><a class="btn btn-outline-primary rounded-pill" href="" >Inscription</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="vh-100 d-flex flex-column justify-content-center align-items-center bg-light ps-sm-2 ps-lg-5">
                    <h1 class="mb-5 display-4 w-75 text-center">
                        Une propriété immobilière de qualité
                    </h1>
    
                    <p class="fw-light text-center">
                        Nous vous proposons les meilleurs biens immobiliers du marché avec des prix défient toute concurrence.
                    </p>            
    
                    <a href="#contact" class="btn btn-outline-primary rounded-pill">Contactez-nous</a>
            </div>
        </header>
    </section>

    <section id="about" class="container">
        <div class="row h-100 gy-5">
            <div class="col-md-5 d-flex flex-column justify-content-center me-auto mb-4">
                <p class="mb-sm-5 display-6">
                    Pourquoi nous choisir ?
                </p>
    
                <div class="fw-light">
                    <p>
                        Shérif Immob est une Agence Immobilière Agrée, située à Anyama, nouveaux paradis de l'immobilier. <br>
                        Nous sommes spécialisés dans les transactions sur immeubles et commerces, les locations et la gestion de patrimoine immobilier
                    </p>
                    <p>
                        Nous proposons une large gamme de propriété, selon votre budget.
                    </p>
                </div>
    
                <a href="#contact" class="btn btn-outline-primary rounded-pill" style="max-width: 150px;">
                    Contactez-nous
                </a>
            </div>
    
            <div class="col-md-6">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2 g-2">
                    <div class="info-card col card">
                        <p class="fw-bold h1">
                            01. 
                        </p>

                        <p class="title fw-bold">
                            Assurance des biens
                        </p>
        
                        <div class="fw-light">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quas reprehenderi electus saepe incidunt sunt, earum corporis.
                            </p>
                        </div>
                    </div>
        
                    <div class="info-card col card">
                        <p class="fw-bold h1">
                            02. 
                        </p>
                        <p class="title fw-bold">
                            Avancement d'impôt
                        </p>
        
                        <div class="fw-light">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quas reprehenderi electus saepe incidunt sunt, earum corporis.
                            </p>
                            
                        </div>
                    </div>
        
                    <div class="info-card col card">
                        <p class="fw-bold h1">
                            03. 
                        </p>

                        <p class="title fw-bold">
                            Faible commission
                        </p>
        
                        <div class="fw-light">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quas reprehenderi electus saepe incidunt sunt, earum corporis.
                            </p>
                            
                        </div>
                    </div>
        
                    <div class="info-card col card">
                        <p class="fw-bold h1">
                            04. 
                        </p>

                        <p class="title fw-bold">
                            Service Fiable
                        </p>
        
                        <div class="fw-light">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quas reprehenderi electus saepe incidunt sunt, earum corporis.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="deals" class="container">
        <div>
            <p class="display-6 text-center">
                Réaliser de meilleures affaires
            </p>

            <p class="lead text-center">
                Ici listé tous nos bien immobiliers par catégorie            
            </p>
        </div>

        <div class="mt-5">
            <ul class="mb-5 nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button 
                        class="nav-link active" 
                        id="recently-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#recently"
                        type="button" 
                        role="tab" 
                        aria-controls="recently" 
                        aria-selected="true"
                        >Ajoutées récemment</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button 
                        class="nav-link" 
                        id="modern-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#modern" 
                        type="button" 
                        role="tab" 
                        aria-controls="modern" 
                        aria-selected="false"
                        >Moderne</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button 
                        class="nav-link" 
                        id="apart-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#apart" 
                        type="button" 
                        role="tab" 
                        aria-controls="apart" 
                        aria-selected="false"
                        >Apartements</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div id="recently" role="tabpanel" aria-labelledby="recently-tab" class="tab-pane fade show active">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-2">
                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Belle maison triplex
                                        </h5>
                                        <span class="card-text small text-muted">Anyama residentiel</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    350.000.000 FCFA
                                </div>
    
                                <ul class="list-inline fw-light">
                                    <li class="small list-inline-item">8 Chambre</li>
                                    <li class="small list-inline-item">3 Salon</li>
                                    <li class="small list-inline-item">4 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799699.jpg?w=740&t=st=1709725772~exp=1709726372~hmac=17145355e87cf720853638c0daa2e72d9ef010824dffc76f92a22274fc7150bf" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    75.500.000 FCFA
                                </div>
    
                                <ul class="list-inline fw-light">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799701.jpg?w=740&t=st=1709725727~exp=1709726327~hmac=e0c7fa9d53bf867454b89b4f2ffa6c4312fc85f5505454bd1066c8008f3234f0" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Mouvelle construction
                                        </h5>
                                        <span class="card-text small text-muted">Derrière lycée </span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    155.000.000 FCFA
                                </div>
    
                                <ul class="list-inline fw-light">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modern" role="tabpanel" aria-labelledby="modern-tab" class="tab-pane fade">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-2">
                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="apart" role="tabpanel" aria-labelledby="apart-tab" class="tab-pane fade">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-2">
                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card col" style="width: 18rem;">
                            <img 
                                src="https://img.freepik.com/photos-gratuite/rendu-3d-du-modele-maison_23-2150799679.jpg?w=826&t=st=1709725413~exp=1709726013~hmac=b426c5e05a4cdb40293d811d03e33e484f43a2bb98bd8685200bfbb1308df5ce" 
                                class="card-img-top">
    
                            <div class="card-body">
                                <div class="head">
                                    <div class="mb-4">
                                        <h5 class="card-title">
                                            Maison basse
                                        </h5>
                                        <span class="card-text small text-muted">Ebimpe</span>
                                    </div>
                                </div>
                                
                                <div class="text-success h3 mb-4">
                                    15.000.000 FCFA
                                </div>
    
                                <ul class="list-inline">
                                    <li class="small list-inline-item">2 Chambre</li>
                                    <li class="small list-inline-item">1 Salon</li>
                                    <li class="small list-inline-item">2 Douche</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="#contact" class="btn btn-outline-primary rounded-pill footer mt-5">
                Contactez-nous
            </a>
        </div>
    </section>

    <section id="feed-back" class="container">
        <div>
            <h2 class="display-6 text-center mb-4">
                Avis des clients
            </h2>

            <p class="lead text-center">
                Quelques retours de nos clients
            </p>
        </div>

        <div class="row mt-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 gap-2">
            <div class="card col" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <h4>
                                Konan Benoi
                            </h4>
                            <span class="text-muted">Instituteur</span>
                        </div>

                        <div class="text-success">
                            4/5
                        </div>
                    </div>

                    <p class="fw-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <h4>
                                Konan Benoi
                            </h4>
                            <span class="text-muted">Instituteur</span>
                        </div>

                        <div class="text-success">
                            4/5
                        </div>
                    </div>

                    <p class="fw-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="card col" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <h4>
                                Konan Benoi
                            </h4>
                            <span class="text-muted">Instituteur</span>
                        </div>

                        <div class="text-success">
                            4/5
                        </div>
                    </div>

                    <p class="fw-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container" style="margin-bottom: 100px;">
        <div class="w-75">
            <h2 class="display-6 mb-4">
                Recevez les dernières nouvelles
            </h2>

            <p class="lead">
                Laissez-nous vos coordonner pour recevoir toutes nos dernières nouvelles
            </p>
        </div>

        <form>
            <div class="d-flex flex-column flex-sm-row">
                <input type="email" class="form-control rounded-pill me-0 me-sm-2 mb-2 mb-sm-0" placeholder="Saisissez votre adresse email">
                <input type="submit" value="Envoyer" class="btn btn-outline-primary rounded-pill" />
            </div>
        </form>
    </section>

    <footer>
        <div class="bg-light py-4">
            <div class="container">
                <div class="">
                    <div class="h4">
                        Cherif Immob
                    </div>
                    <div class="row ms-0 g-4">
                        <ul class="navbar-nav col-12 col-sm-9 col-md-6">
                            <div class="h6">Contact</div>
                            <li>Address : Abidjan, anyama residentiel</li>
                            <li>Phone : +225 01 000 000 01</li>
                            <li>Email : cherif-immob@mail.ci</li>
                        </ul>

                        <ul class="navbar-nav col">
                            <div class="h6">Pages</div>
                            <li><a class="text-decoration-none text-dark" href="#home">Accueil</a></li>
                            <li><a class="text-decoration-none text-dark" href="#contact">Contact</a></li>
                            <li><a class="text-decoration-none text-dark" href="#deals">Catalogue</a></li>
                        </ul>
            
                        <ul class="navbar-nav col">
                            <div class="h6">Suivez-nous</div>
                            <li>
                                <i class="uil uil-facebook"></i>
                                <a class="text-decoration-none text-dark" href="facebook.com">Cherif Immob</a>
                            </li>
                            <li>
                                <i class="uil uil-twitter"></i>
                                <a class="text-decoration-none text-dark" href="twitter.com">CherifImmob</a>
                            </li>
                            <li>
                                <i class="uil uil-instagram"></i>
                                <a class="text-decoration-none text-dark" href="instagram.com">Cherif Immob</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="my-2 fw-light small px-2">
                Copyright 2024 - Tous droits réservés par Cherif Immob
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/styles/Js/app.js"></script>
</body>
</html>